NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
NEXT_PUBLIC_SEPOLIA_CHAIN_ID=11155111
NEXT_PUBLIC_XIREC_TOKEN_ADDRESS=
NEXT_PUBLIC_VOUCHER_ESCROW_ADDRESS=
NEXT_PUBLIC_REPUTATION_MANAGER_ADDRESS=
NEXT_PUBLIC_REWARD_DISTRIBUTOR_ADDRESS=
NEXT_PUBLIC_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
